{%- macro button_group(button_group) -%}
	{%- for button_order, tag in button_group -%}
		{%- set icon = BBCode_GetButtonIcon(tag) -%}
		{%- set label = BBCode_GetButtonLabel(tag) -%}
		{%- set token_name = BBCode_GetTokenName(tag) -%}
		{%- set token_count = BBCode_GetTokenCount(tag) -%}
		{%- set param_question = BBCode_GetButtonParameterQuestion(tag) -%}

		<button class="btn btn-default btn-sm" data-tag="{{- token_name -}}" data-tag-count="{{- token_count -}}"{%- if param_question %} data-param-question="{{- param_question -}}"{% endif %}>
			{%- if icon -%}
				<i class="{{- icon -}}"></i>
			{%- else -%}
				{{- label |raw -}}
			{%- endif -%}
		</button>
	{%- endfor -%}
{%- endmacro -%}

{%- macro button_row(groups) -%}
	{%- import _self as bb_macros -%}

	<div class="btn-toolbar">
		{%- for group_name, group in groups -%}
			{%- for button_group_name, button_group in group -%}
				{%- if button_group_name == '' or button_group_name == 'none' -%}
					{{- bb_macros.button_group(button_group) -}}
				{%- else -%}
					<div class="btn-group">
						{{- bb_macros.button_group(button_group) -}}
					</div>
				{%- endif -%}
			{%- endfor -%}
		{%- endfor -%}
	</div>
{%- endmacro -%}

{% block bb_editor_widget %}
	<div class="bb-editor">
		{% set attr = attr|merge({ 'class': attr.class|default('') ~ 'form-control bb-editor', 'style': attr.style|default('') ~ 'height:250px;'}) %}

		<div class="hidden-xs">
			{%- set tag_groups = BBCode_GetTagsAllowed(attr.acl_group) -%}
			{%- import _self as bb_macros -%}

			{{- bb_macros.button_row({'Format': tag_groups['Format']}) -}}
			{{- bb_macros.button_row({'Asset': tag_groups['Asset'], 'Block': tag_groups['Block']}) -}}
		</div>

	    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>

	</div>
{% endblock bb_editor_widget %}
